/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #dcfbff;
	color: #777;  
	font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sansserif;

}

p { 
	line-height: 20px;  
	margin-bottom: 20px; 
}

h1 {  font-family: 'Crete Round', serif;  
font-weight: bold;  
color: #444;  
font-size: 45px;  
margin-bottom: 20px; }

h2 {  font-weight: 300;  
	color: white;  
	font-size: 55px;  
	text-transform: uppercase;  
	text-align: center;  
	margin-bottom: 1px;
	position: bottom;
	float:bottom;

} 


h3 {  font-size: 30px;  
	color: #444;  
	font-weight: bold;  
	text-transform: uppercase;
	text-align: center;  
	margin-bottom: 20px; 
}

h4 {  
	font-size: 24px;  
	color: #444; 
 	font-weight: bold;  
 	text-transform: uppercase;  
 	margin-bottom: 20px; 
 }

 h5 {  
 	font-size: 15px;  
 	color: #444;  
 	font-weight: bold;  
 	text-transform: uppercase; 
 }

 a {  
 	text-decoration: none;  
 	color: #444; 
 } 

a:hover {  
	color: #02b8dd; 
} 

 strong {  
 	font-weight: bold; 
 	margin-top: 100px;
 }


small {  

	font-size: 13px;  
	color: #777;  
	font-style: italic; 
} 
 
 .clear {  
 	clear: both; 
 } 

 .wrapper {  
 	
 	margin: 0 auto;  
 	padding: 0 10px;  
 	width: 940px;
 

} 

ol, ul {
	
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {  
	height: 120px; 
} 
 header h1 {  
 	float: left;  
 	margin-top: 32px; 
 } 
 header h1 .color {  
 	color: #02b8dd; 
 } 
 header nav {  
 	float: right; 
 } 


header nav ul li {  
	float: left;  
	display: inline-block;  
	margin-top: 50px; 
} 

 header nav ul li a {  
 	color: #444;  
 	text-transform: uppercase;  
 	font-weight: bold;  
 	display: block;  
 	margin-right: 20px; 
 }

 #hero-image {  
 	height: 580px;  
 	padding-top: 1px;  
 	background: #e8eced url('../images/hero.jpg') no-repeat center; 
 } 


 #hero-image h2 {  
 	margin: 180px 0 40px 0; 
 }

 .image{
 	height: 50px;
 	width: 50px;
 	float:left;
 	margin-top: 32px;
 	margin-right: 10px;
 }

 .button-1 {  
 	display: block;  
 	text-align: center;  
 	background: #444;  
 	border-radius: 3px;  color: #fff;  
 	width: 180px;  
 	height: 50px;  
 	font-size: 20px;  
 	line-height: 50px;  
 	margin: 0 auto; 
 } 

 .button-1:hover {  
 	background-color: #02b8dd;  
 	color: #fff; 
 }

 #features ul {  
 	margin: 80px 0; 
 } 

 #features ul li {  
 	width: 300px;  
 	padding-top: 140px;  
 	float: left;  
 	margin-right: 10px; 
 	text-align: center; 
} 

.overlay li{
	
	font-size: 14px;  
	color: #777;  
	font-style: italic; 

}

#features ul li.feature-1 {  
	background: url('../images/features-icon-1.png') no-repeat top center;
	 }

#features ul li.feature-2 {  
	background: url('../images/features-icon-2.png') no-repeat top center; 
	} 

#features ul li.feature-3 {  
	background: url('../images/features-icon-3.png') no-repeat top center; 
}

#primary-content {  
	background-color: #f8fafa;  
	padding: 60px 0;  
	text-align: center; 
} 
 #primary-content h3 {  
 	display: block;  
 	margin: 0 auto 20px auto;  
 	width: 400px;  
 	border-bottom: 1px solid #02b8dd;  
 	padding: 0 0 20px 0; 
 } 

 #primary-content a img {  
 	margin: 20px 0; 
 }

 #secondary-content {  
 	padding: 30px 0;  
 	text-align: left; 
 } 

 #secondary-content article {  
 	width: 450px;  
 	height: 270px;  
 	float: left;  
 	background-color: #f5f5f5; 
} 

 #secondary-content article:first-child {  
 	margin-right: 20px; 
 } 

 #secondary-content article .overlay {  
 	background-color: #d9d9d9;  
 	height: 270px;  
 	width: 250px; 
 	padding: 20px; 
 }

 article h4 {  
 	border-bottom: 1px solid #02b8dd;  
 	padding-bottom: 20px; 
 } 

 .more-link {  
 	border: 1px solid #02b8dd;  
 	color: #02b8dd;  
 	padding: 6px 20px;  
 	border-radius: 3px; 
 } 

 .more-link:hover {  
 	background-color: #02b8dd;  
 	color: #fff; 
 }

 #cta {  
 	padding: 60px 0;  
 	text-align: center; 
 } 

 #cta h3 {  
 	display: block;  
 	margin: 0 auto 20px auto;  
 	width: 400px;  
 	border-bottom: 1px solid #02b8dd;  
 	padding: 0 0 20px 0; 
 }

 .button-2 {  
 	display: block; 
 	 margin: 0 auto;  
 	 border: 2px solid #02b8dd;  
 	 color: #02b8dd;  
 	 border-radius: 3px;  width: 180px; 
 	 height: 50px;  
 	 font-size: 20px;  
 	 line-height: 50px; 
 	} 

 .button-2:hover {  
 	background-color: #02b8dd;  
 	color: #fff;
 }


 footer {  
 	padding: 60px 0; 
 	background-color: #f8fafa; 
 } 
 
#footer-info {  
	width: 380px;  
	float: left;  
	margin-top: 10px; 
} 
 #footer-links {  
 	width: 520px;  
 	float: right; 
 }



 #footer-links ul {  
 	width: 150px;  
 	float: left; 
 	margin-left: 20px; 
 } 

 #footer-links ul li {  
 	margin: 10px 0; 
 }