@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {  
    background-color: #fff;  
    color: #777;  
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sansserif; 
    } 

p {  
    line-height: 20px;  
    margin-bottom: 20px; 
    } 

h1 {  
    font-family: 'Montserrat', serif;  
    font-weight: bold;  color: #444;  
    font-size: 45px;  
    margin-bottom: 20px; 
    } 

h2 {  
    font-weight: 300;  
    color: #444;  
    font-size: 15px;  
    text-transform: uppercase;  
    text-align: center;  

    }

h3 {
    font-family: 'Montserrat', serif;
    text-align: center;
} 

a {  
    text-decoration: none;  
    color: #444; 
    } 

a:hover {  
    color: #02b8dd; 
    } 

.wrapper {  
    margin: 0 auto;  
    padding: 0 10px;  
    width: 940px; 
    }

header {  
    height: 70px;       
    background-color: #f5f5f5;  
    position: fixed;  
    top: 0;  
    width: 100%; } 

 header h1 {  
    float: left;
    margin-top: 7px;
    margin-right: 100px;
    text-align: left;
  font-family: 'Crete Round', serif;  } 

 header h1 .color {  
    color: #02b8dd; } 

 header nav {  
    float: right; }

.image {
    margin-top: 7px;
}

 #primary_nav_wrap {  
    margin-top:20px; }

 #primary_nav_wrap ul {  
    list-style:none;  
    position:relative;
    float:right;  
    margin:0;  
    padding:0 } 

 #primary_nav_wrap ul a {  
    display:block;  
    color:#333;  
    text-decoration:none;  
    font-weight:700;  
    font-size:15px;  
    line-height:32px; 
    padding:0 15px; }

 #primary_nav_wrap ul li {  
    position:relative;  
    float:left;  
    margin:0;  
    padding:0 } 

 #primary_nav_wrap ul li.current-menu-item {  
    background:#ddd; } 

 #primary_nav_wrap ul li:hover {  
    background:#02b8dd; }

 #primary_nav_wrap ul ul {  
    display:none;  
    position:absolute;  
    top:100%;  left:0;  
    background:#ddd;  
    padding:0 } 

 #primary_nav_wrap ul ul li {  
    float:none;  
    width:200px }

 #primary_nav_wrap ul ul a {  
    line-height:120%;  
    padding:10px 15px }

 #primary_nav_wrap ul ul ul {  
    top:0;  
    left:100% }

 #primary_nav_wrap ul li:hover > ul {  
    display:block } 

    #hero-image {  
        height: 550px;  
        padding-top: 1px;  
        background: #e8eced url('../images/2.jpg') no-repeat center; } 

 #hero-image h2 {  
    margin: 180px 0 40px 0; }

#register {  
    margin: 100px 0 40px 0; } 

table, th, td { border: 1px solid black;  
    padding: 10px; } 

input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
  height: 50px;
    margin-left: 50px;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

select {
    background: #fff !important;
  }

select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

select[multiple],
select[size] {
  height: auto;
}

select.form-group-sm .form-control {
  height: 30px;
  line-height: 30px;
}

select[multiple].form-group-sm .form-control {
  height: auto;
}

textarea, 
textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
  outline: 0;
  background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.form-box {
  margin-top: 35px;
}

.form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #fff;
  -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #ddd;
  line-height: 100px;
  text-align: right;
}

.form-bottom {
  padding: 25px 25px 30px 25px;
  background: #eee;
  -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
  text-align: left;
}

.form-bottom form textarea {
  height: 100px;
}

.form-bottom form button.btn {
  width: 100%;
}

.form-bottom form .input-error {
  border-color: #4aaf51;
}

.container {
  
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.err
{
  color: red;

}

footer {  
    padding: 60px 0;  
    background-color: #f8fafa; 
    }

#footer-info {  
    width: 380px;  
    float: left;  
    margin-top: 10px; 
    } 

#footer-links {  
    width: 520px;  
    float: right; 
    } 

#footer-links ul {  
    width: 100px;  
    float: left;  
    margin-left: 20px; 
    } 

#footer-links ul li {  
    margin: 10px 0; 
    }

.clear {  
    clear: both; 
    }